<nav class="navbar">
	<div class="nav-container">
		<a href="{{ '/' | relative_url }}" class="navbar-brand">Kibzai</a>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a href="{{ site.baseurl }}/" class="nav-link">Inicio</a>
			</li>
			<li class="nav-item">
				<a href="{{ site.baseurl }}/readme" class="nav-link">Léeme</a>
			</li>
			<li class="nav-item">
				<a href="{{ site.baseurl }}/blog" class="nav-link">Blog</a>
			</li>
			<li class="nav-item">
				<a href="{{ site.baseurl }}/diversion" class="nav-link">Diversión</a>
			</li>
			<li class="nav-item">
				<a href="{{ site.baseurl }}/ayuda" class="nav-link">Ayuda</a>
			</li>
		</ul>
	</div>
</nav>