// Base styles (Reading First)
/* Base Dark Mode Styles */
body.dark-mode {
  background-color: #000;
  font-family: 'Courier New', Courier, monospace;
  color: #e0e0e0;
  margin: 0;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

body.dark-mode .content {
  background-color: rgba(#000, 0.85);
}

body.dark-mode a {
  color: #a7d129;
}
// Lists
ul{
  padding-left: 0px;
}
ul li {
  background: #1b1919;
  padding: 1rem;
  list-style: none;
}

li:nth-child(odd) {
  background: #222;
}

/* Code Block Styling with Wrap */
body.dark-mode pre {
  background-color: #000;
  padding: 1rem;
  overflow-x: auto; /* Enables horizontal scrolling for long lines */
  white-space: pre-wrap; /* Ensures wrapping of long lines */
  word-wrap: break-word;
  color: #a7d129;
}

body pre {
  background-color: #000;
  font-family: 'Courier New', Courier, monospace;
  color: #e0e0e0;
  margin: 3rem;
}

/* Code Block Styling */
body.dark-mode code {
  overflow-x: auto; /* Enables horizontal scrolling for long lines */
  white-space: pre-wrap; /* Ensures wrapping of long lines */
  word-wrap: break-word;
  line-height: 2;
}

/* Copy Button Styling */
.copy-btn {
  position: relative;
  float: right;
  top: 0;
  right: 0;
  background-color: #a7d129;
  color: black;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 0.8em;
}
/* Copy Button Styling */
body.dark-mode .btn {
  background-color: #a7d129;
  color: black;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 0.75em;
  font-weight: bold;
}
body.dark-mode footer .btn {
  width: 100%;
}

.welcome-text {
  position: relative;
  text-align: center;
  z-index: 2;
  padding: 15% 3rem 5rem 3rem;
}

.welcome-text h1 {
  font-size: 2rem;
  margin: 0;
}

.welcome-text p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

/* Estilos para la navegación */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  z-index: 3;
}

.navbar .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  color: #fff !important;
  text-decoration: none;
  font-size: 1.5rem;
}

.navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 1rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #575757;
}

/* Hover Effect for Copy Button */
.copy-btn:hover {
  background-color: #616f39;
}

.info-block {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* styles.css */
.accordion-header {
  background-color: #404040;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  padding: 15px;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.618s ease;
  color: white;
  margin: 0;
}

.accordion-header:hover {
  background-color: #2b2b2b;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.618s ease;
}

.accordion-content p {
  margin: 0;
  padding: 15px;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'CircularSp';
  src: url("#{$absoluteUrl}/assets/fonts/CircularSpotifyText-Black.otf") format('opentype');
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem;
}

canvas {
  margin-right: 2rem;
  width: 100%;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs {
  display: flex;
  width: 360px;
  padding: 0 1rem;
}

.color,
.text {
  display: flex;
  flex-direction: column;
}

.color {
  flex: 1;
  flex-direction: column;
  display: flex;
  padding-right: 1rem;
}

.colorinput {
  flex: 1;
  width: 48px;
  height: 48px;
}

.textinput {
  font-size: 1.5rem;
  padding: .5rem;
}

.file {
  width: 360px;
  font-family: sans-serif;
  padding: 1rem 0;
}

.file .info {
  font-size: 1.2rem;
}

.fileinput {
  padding-top: .5rem;
  font-size: 1rem;
}

.slider-container,
.dropdown-container {
  width: 360px;
  padding: 1rem 0;
}

.save {
  width: 100%;
  font-size: 1rem;
  padding: .5rem;
  width: 360px;
}

h1, label {
  color: #e0e0e0;
}
textarea, input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #333333;
  border-radius: 4px;
  box-sizing: border-box;
}
.btn {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #333333;
  border-radius: 4px;
  box-sizing: border-box;
}
.btn {
  cursor: pointer;
  background-color: #6200ea;
  border: none;
  transition: background-color 0.3s;
}
.btn :hover {
  background-color: #3700b3;
}
.output {
  margin-top: 20px;
}

ul.task-list {
  list-style-type: none; /* Elimina los puntos de la lista */
  padding-left: 0;
}

ul.task-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

ul.task-list input[type="checkbox"] {
  appearance: none; /* Elimina el estilo por defecto */
  width: $checkbox-size;
  height: $checkbox-size;
  border: 2px solid $primary-color;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
  
  &:checked {
    background-color: $primary-color;
    border-color: $primary-color;
    
    &::after {
      content: '✔';
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 16px;
    }
  }
  
  &:hover {
    border-color: darken($primary-color, 10%);
  }
}
// Queries
// Mobile and Portrait (Single Media Query)
@media only screen and (max-width: $breakpoint-mobile), (orientation: portrait) {
  body {
    background-color: #e0f7fa;
    font-size: 14px;
  }
  .content {
    padding: .75em;
  }
  .navbar .container {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-nav {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .nav-item {
    width: 100%;
  }

  .nav-link {
    width: 100%;
    text-align: left;
  }
  
  .container {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  canvas {
    margin: 0;
    margin-bottom: 1rem;
  }

  .settings {
    width: 100%;
    align-items: center;
  }

  .inputs {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .color {
    flex-direction: row;
    justify-content: center;
    padding-right: 0;
    margin-bottom: 1rem;
  }

  .text {
    justify-content: center;
  }

  .file,
  .slider-container,
  .dropdown-container {
    width: 100%;
    text-align: center;
  }

  .save {
    width: 100%;
  }
}
// Tablet (Two Media Queries)
@media only screen and (min-width: $breakpoint-mobile + 1) and (max-width: $breakpoint-tablet) {
  body {
    background-color: #b2ebf2;
    font-size: 16px;
  }
  .content {
    padding: 1em;
    // column-count: 2;
  }
}

// Web/Desktop (Three Media Queries)
@media only screen and (min-width: $breakpoint-tablet + 1) and (max-width: $breakpoint-desktop) {
  body {
    background-color: #80deea;
    font-size: 18px;
  }
  .content {
    padding: 1.5em 3em 3em 3em;
    // column-count: 3;
  }
}

@media only screen and (min-width: $breakpoint-desktop + 1) {
  body {
    background-color: #4dd0e1;
    font-size: 20px;
  }
  .content {
    padding: 2.5em 5em 5em 5em;
    // column-count: 4;
  }
}
