---
---

$absolute-url: "{{ absolute_url }}{{ site.baseurl }}";
$imgcover: "{{ page.cover }}";
$mediaQuery:  '720px';

// Importar los estilos desde la carpeta _sass
@import "styles";
@import "syntax";