---
---
// Variables
$absoluteUrl: "{{ absolute_url }}{{ site.baseurl }}";
// Colors
$primary-color: #a7d129;
$checkbox-size: 20px;
// View Media Queries
// Variables for breakpoints
$breakpoint-mobile: 480px; // Mobile devices
$breakpoint-tablet: 768px; // Tablets
$breakpoint-desktop: 1024px; // Desktops

// Importar los estilos desde la carpeta _sass
@import "styles";
@import "syntax";