<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <script src="{{ '/assets/js/ui.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/programs.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/scripts.js' | relative_url }}"></script>
  
  <!-- Open Graph meta tags -->
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:image" content="{{ 'https://Kibzai.github.io/Programas/assets/img/cover.jpg' }}">
  <meta property="og:url" content="{{ site.url | relative_url }}">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{ page.title }}">
  
  <!-- Twitter Card meta tags (optional) -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image" content="{{ 'https://Kibzai.github.io/Programas/assets/img/cover.jpg' }}">
  
  <!-- Favicon meta tags -->
  <link rel="icon" type="image/x-icon" href="{{ '/favicon/favicon.ico' | relative_url }}">
  <link rel="icon" href="{{ '/favicon/favicon.ico' | relative_url }}">
  
</head>
<body class="dark-mode">
  <h1><a href="/">Kib</a> - {{ page.title }}</h1>
    <div class="content">
        {{ content }}
    </div>
    <footer>
      <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
  </footer>
</body>
</html>